@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #BFB965, #A6A15B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #725c4f94;
    width: 600px;   
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8C3F5B;
    text-align: center;
    text-shadow: 1px 1px 2px #421e2cb9;

}

h2{
    color: #888C8B;
}

p {
    text-align: justify;
}